$max-width: 1200px;
$gutter: 20px;
$font-main: "Lora", serif;
$font-heading: "Roboto Mono", monospace;
$color-black: #000;
$color-grey-dark: #999;
$color-grey: #aaa;
$color-grey-light: #ccc;
$color-green-light: #2d2;
$color-green-dark: #1a1;
$color-white: #fcffd2;
$color-pink: #cc9694;

div {
  villa-fjarlægðu-mig;
  stylelint-ætti-að-kvarta;
}
