@import 'config';
@import 'footer';

h2{
    font-size: 24px;
    font-weight: bold;
}

.page{
    display: flex;
    padding: 0 20px;
    justify-content: center;

    &__content{
        display: flex;
        max-width: $max-width;
        justify-content: center;
        flex-direction: column;
    }
    &__cards{
       display: flex;
       justify-content: center;
       max-width: $max-width;
       margin-left: 32px;
    }
    
}
.list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card{
    display: flex;
    position: relative;
    width: 387px;
    margin: 20px 0;
    flex-direction: column;
    background-color: $color-grey-light;
    justify-content: space-between;
}
.card:hover{
    background-color: $color-grey-dark;
    transition: 300ms ease-in-out;
}
