@import 'config';

h2{
    font-size: 28px;
    font-weight: bold;
}

.page{
    display: flex;
    padding: 0 20px;
    justify-content: center;

    &__content{
        display: flex;
        max-width: $max-width;
        justify-content: center;
        flex-direction: column;
    }
    &__cards{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
}
