@import "config";
@import "footer";

h2 {
  font-size: 24px;
  font-weight: bold;
}

.checkmark {
  color: $color-green-light;
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  font-size: 3em;
}

.page {
  display: flex;
  padding: 0 20px;
  align-items: center;

  &__content {
    display: flex;
    max-width: $max-width;
    justify-content: center;
    flex-direction: column;
    margin: auto;
  }
  &__cards {
    display: flex;
    justify-content: center;
    max-width: $max-width;
    margin: auto;
  }
}
.content {
  display: flex;

  &__youtube iframe {
    display: flex;
    padding-top: $gutter * 2;
    padding-bottom: $gutter * 2;
    width: 53vw;
    height: 48vh;
    margin: auto;
  }
  &__text p {
    display: flex;
    margin-top: $gutter;
    margin-bottom: $gutter;
    line-height: 2;
    flex-direction: column;
    font-size: 16px;
  }
  &__image {
    margin-top: $gutter;
    margin-bottom: $gutter;
  }
  &__quote {
    padding-top: $gutter;
    padding-bottom: $gutter;
    padding-left: $gutter;
    margin-bottom: $gutter;
    background-color: $color-grey;
  }
  &__list li {
    margin-top: $gutter;
    margin-bottom: $gutter;
    list-style: circle solid black;
  }
  &__code {
    max-width: $max-width;
    margin-top: $gutter;
    margin-bottom: $gutter;
    justify-content: center;
  }
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card {
  display: flex;
  position: relative;
  width: 387px;
  margin: 20px 0;
  flex-direction: column;
  background-color: $color-grey-light;
  justify-content: space-between;

  &__content {
    display: flex;
    padding: 10px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__thumb {
    width: 100%;
  }
}

.card:hover {
  background-color: $color-grey-dark;
  transition: 300ms ease-in-out;
}
.card.card-hidden {
  display: none;
}

.buttons {
  &__button:hover {
    background-color: $color-grey-dark;
    transition: 300ms ease-in-out;
  }
  &__button.button-active {
    background-color: $color-green-light;
  }
  &__button.button-active:hover {
    background-color: $color-green-dark;
    transition: 300ms ease-in-out;
  }
}
